html {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
}

h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 25px;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #55883B;
  color: #FFFFFF;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  border: 0px solid;
  border-radius: 5px;
  font-family: "Poppins";
  font-size: 16px;
  margin: 0;
  background-color: #3C6529;
  color: #FFFFFF;
}

#starting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  border: 0px solid;
  border-radius: 5px;
  font-size: 16px;
  background-color: #3C6529;
  color: #FFFFFF;
}

#answerForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#reponse {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 16px;
  height: 25px;
  margin: 10px;
}